<ul>
  <li>Connect with me: </li>
  <li><%= link_to image_tag("logos/fb_logo.png"), "https://www.facebook.com/aaron.m.primmer", :title => "Contact me on Facebook!" %></li>
  <li><%= link_to image_tag("logos/twitter_logo.png"), "https://twitter.com/aaronmprimmer", :title => "Contact me on Twitter!" %></li>
  <li><%= link_to image_tag("logos/tube_logo.png"), "https://www.youtube.com/user/AaronmPrimmer", :title => "Contact me on Youtube!" %></li>
  <li><%= link_to image_tag("logos/vimeo_logo.png"), "http://vimeo.com/aaronprimmer", :title => "Contact me on Vimeo!" %></li>
  <li><%= link_to image_tag("logos/atom_logo.png"), feed_path, :title => "Subscribe to PrimmerFamily.net Atom Feed!" %></li>
</ul>