<div class="links_box">
  <%= render 'admin/admin_links' %>
</div>
<article class="articles">
  <header>
    <h1>Birthdays</h1>
    <%= render 'admin/flash_message' %>
  </header>
  <section>

    <% if !@bday.empty? %>
    <table id="bday_table">
      <tbody>
      <% @bday.each do |bday| %>
        <tr>
          <td><%= "#{get_month(bday.month,bday.day)}" %></td>
          <td><%= "#{bday.firstname} #{bday.lastname}" %></td>
          <td><%= link_to "Edit", edit_admin_birthday_path(bday), :title => "Edit #{bday.firstname} #{bday.lastname}'s Birthday" %></td>
          <% if admin_user %>
            <td><%= link_to "Delete", admin_birthday_path(bday), :method => "delete", :confirm => "Are You Sure?", :title => "Delete #{bday.firstname} #{bday.lastname}'s Birthday" %></td>
          <% end %>
        </tr>
        
      <% end %>
      </tbody>
    </table>
      
    
    <% end %>
  </section>
</article>